<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="SportConnectionString" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
    <add name="MessageConnectionString" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
    <add name="RecordConnectionString" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
    <add name="Lh1ConnectionString" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
    <add name="Main1ConnectionString" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
    <add name="ClubConnectionString" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
    <add name="MainSQLConnectionString" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
    <add name="ConnectionString1" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
    <add name="CS" connectionString="Server=SERVER\MAINSQL;Database=MainSQL;User ID=SAIMS;Password=Jnflssaim!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <remove value="Default.htm" />
                <add value="login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <httpErrors errorMode="Custom">
            <error statusCode="404" subStatusCode="19" path="http://192.168.0.168/whgg.htm" responseMode="Redirect" />
        </httpErrors>
  </system.webServer>
  <system.web>
    <compilation defaultLanguage="c#" targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--在这加debug = "true"-->
    <customErrors defaultRedirect="http://192.168.0.168/tzsf.htm" mode="Off" redirectMode="ResponseRedirect">
        </customErrors>
    <!-- <customErrors mode="RemoteOnly" defaultRedirect="自定义404" />-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
      </controls>
    </pages>
        <authentication mode="Windows" />
  </system.web>
</configuration>