USE [master]
GO
/****** Object:  Database [2018年运动会]    Script Date: 09/30/2018 21:34:23 ******/
CREATE DATABASE [2018年运动会] ON  PRIMARY 
( NAME = N'2018年运动会', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.JACKSQL\MSSQL\DATA\2018年运动会.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'2018年运动会_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.JACKSQL\MSSQL\DATA\2018年运动会_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [2018年运动会].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [2018年运动会]
GO
/****** Object:  Table [dbo].[运动员项目信息]    Script Date: 09/30/2018 21:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[运动员项目信息](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[编号] [nchar](10) NULL,
	[项目] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[运动员扣分汇总1]    Script Date: 09/30/2018 21:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[运动员扣分汇总1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[卡号] [int] NULL,
	[编号] [char](10) NULL,
	[备注] [nvarchar](50) NULL,
	[班级] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[运动员卡号信息]    Script Date: 09/30/2018 21:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[运动员卡号信息](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[运动员卡号] [int] NULL,
	[编号] [char](10) NULL,
	[姓名] [nvarchar](50) NULL,
	[班级] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[运动员出]    Script Date: 09/30/2018 21:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[运动员出](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[卡号] [int] NULL,
	[出门时间] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[项目]    Script Date: 09/30/2018 21:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[项目](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[项目] [nvarchar](50) NULL,
	[出门开始时间] [datetime] NULL,
	[出门结束时间] [datetime] NULL,
	[入门开始时间] [datetime] NULL,
	[入门结束时间] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[身份]    Script Date: 09/30/2018 21:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[身份](
	[1] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[班级扣分汇总]    Script Date: 09/30/2018 21:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[班级扣分汇总](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[卡号] [int] NULL,
	[班级] [nvarchar](50) NULL,
	[备注] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[班级卡号信息]    Script Date: 09/30/2018 21:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[班级卡号信息](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[卡号] [int] NULL,
	[班级] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[班级出]    Script Date: 09/30/2018 21:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[班级出](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[卡号] [int] NULL,
	[出门时间] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
