
body { font-family:Verdana; font-size:14px;  background-position: center center;
    background-image: url('../Images/backgrounds/background.png');
   
    background-repeat:no-repeat;
    background-color: #CCCCCC;
    background-attachment: fixed;
     margin:0;
     font-family: 微软雅黑,黑体;
}
.tblinks {
    color:#CCCCCC;
}
.introtitle {
    color:#0;
    font-family:微软雅黑 ;
    font-size:xx-large;

}
.introword {
    color:#0;
    font-family:微软雅黑 ;
    font-size:medium;

}

#container {margin:0 auto; width:100%;}
#header { font-family: 微软雅黑,黑体; height:100px; background-image: url('../Images/titles/shangbiaoti.png'); margin-bottom:5px;}

eader { font-family: 微软雅黑,黑体; height:100px; background-image: url('../Images/titles/shangbiaoti.png'); margin-bottom:5px;}

#content {
    
    background-position: center center;
    margin: 0 0px !important;
    height: 500px;
    
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
}
#footer {
    font-family: 微软雅黑,黑体;
    font-size: medium;
    font-style: normal;
    color: #FFFFFF;
    height: 60px;
    background-image: url('../Images/titles/xiabiaoti.png');
}
  